---
title: "2. Generate credit card transactions data and send to kafka topic"
date: 2021-04-25
type: technical_note
draft: false
---

# Generate credit card transactions data and send to kafka topic.

### Inspiration of this example was taken from [here](https://github.com/aws-samples/amazon-sagemaker-feature-store-streaming-aggregation).

#### Prerequisites

In [1]:
#!pip install Faker

#### Imports

In [2]:
from collections import defaultdict
from faker import Faker
import pandas as pd
import numpy as np
import datetime
#from datetime import datetime, timedelta
import hashlib
import random
import math
import os
import bisect
from typing import Optional, Union, Any, Dict, List, TypeVar, Tuple

#from hops import hdfs
#from hops import pandas_helper as pandas
#from faker.providers.address.sv_SE import Provider as SvSEProvider

In [3]:
# Seed for Reproducibility
faker = Faker()
faker.seed_locale('en_US', 0)

In [4]:
SEED = 12345
random.seed(SEED)
np.random.seed(SEED)
faker.seed_instance(SEED)

#### Constants

In [5]:
TOTAL_UNIQUE_USERS = 2000
TOTAL_UNIQUE_TRANSACTIONS = 54000
CASH_WITHRAWAL_CARDS_TOTAL = 1000 
TOTAL_UNIQUE_CASH_WITHDRAWALS = 12000 
ATM_WITHRAWAL_SEQ_LENGTH = [3, 4, 5, 6, 7, 8, 9, 10]
NORMAL_ATM_RADIUS = 0.01
START_DATE = '2022-01-01 00:00:00'
END_DATE = '2022-03-01 00:00:00'
DATE_FORMAT = '%Y-%m-%d %H:%M:%S'

AMOUNT_DISTRIBUTION_PERCENTAGES = {
                                   0.05: (0.01, 1.01), 
                                   0.075: (1, 11.01),
                                   0.525: (10, 100.01),
                                   0.25: (100, 1000.01),
                                   0.099: (1000, 10000.01),
                                   0.001: (10000, 30000.01)
                                  }

CATEGORY_PERC_PRICE = {
                       "Grocery":              (0.5, 0.01, 100), 
                       "Restaurant/Cafeteria": (0.2, 1, 100),
                       "Health/Beauty":        (0.1, 10, 500.01),
                       "Domestic Transport":   (0.1, 10, 100.01),
                       "Clothing":             (0.05, 10, 2000.01),
                       "Electronics":          (0.02, 100, 10000.01),
                       "Sports/Outdoors":      (0.015, 10, 100.01),
                       "Holliday/Travel":      (0.014, 10, 100.01),              
                       "Jewelery":             (0.001, 10, 100.01)
                       }

FRAUD_RATIO = 0.0025 # percentage of transactions that are fraudulent
NUMBER_OF_FRAUDULENT_TRANSACTIONS = int(FRAUD_RATIO * TOTAL_UNIQUE_TRANSACTIONS)
ATTACK_CHAIN_LENGTHS = [3, 4, 5, 6, 7, 8, 9, 10]

### Generate Transactions

#### Generate Unique Credit Card Numbers 
<p> Credit card numbers are uniquely assigned to users. Since, there are 10K users, we would want to generate 10K unique card numbers.</p>

In [6]:
def generate_unique_credit_card_numbers(n: int) -> list:
    cc_ids = set()
    for _ in range(n):
        cc_id = faker.credit_card_number(card_type='visa')
        cc_ids.add(cc_id)
    return list(cc_ids)

In [7]:
credit_card_numbers = generate_unique_credit_card_numbers(TOTAL_UNIQUE_USERS)

In [8]:
assert len(credit_card_numbers) == TOTAL_UNIQUE_USERS 
assert len(credit_card_numbers[0]) == 16 # validate if generated number is 16-digit

In [9]:
# inspect random sample of credit card numbers 
random.sample(credit_card_numbers, 5)

['4913642076996526',
 '4148299918528368',
 '4002894877268355',
 '4351659675456339',
 '4208821021263067']

# Generate credit card numbers

In [10]:
delta_time_object = datetime.datetime.strptime(START_DATE, DATE_FORMAT)
delta_time_object + datetime.timedelta(days=-728)

credit_cards = []
for cc_num in credit_card_numbers:
    credit_cards.append({'cc_num': cc_num, 'provider': 'visa', 'expires': faker.credit_card_expire(start=delta_time_object, end="+5y", date_format="%m/%y")})

In [11]:
credit_cards_pdf = pd.DataFrame.from_records(credit_cards)
credit_cards_pdf.head()

             cc_num provider expires
0  4796807885357879     visa   05/23
1  4529266636192966     visa   03/22
2  4922690008243953     visa   02/27
3  4897369589533543     visa   04/22
4  4848518335893425     visa   10/26

# Generate user identity

In [12]:
profiles = []
for credit_card in credit_cards:
    address = faker.local_latlng(country_code = 'US')
    age = 0 
    profile = None
    while age < 18 or age > 100:
        profile = faker.profile(fields=['name', 'sex', 'mail', 'birthdate'])
        dday = profile['birthdate']
        delta = datetime.datetime.now() - datetime.datetime(dday.year, dday.month, dday.day)
        age = int(delta.days / 365)
    if age >= 18 or age <= 100:
        profile['City'] = address[2]
        profile['Country'] = address[3]
        profile['cc_num'] = credit_card['cc_num']
        profile['age'] = age
        credit_card['age'] = age
        profiles.append(profile)

In [13]:
profiles_pdf = pd.DataFrame.from_records(profiles)
profiles_pdf.drop('age', axis=1, inplace=True)
profiles_pdf.head()

,name,sex,mail,birthdate,City,Country,cc_num
0,Catherine Zimmerman,F,valenciajason@hotmail.com,1988-09-20,Bryn Mawr-Skyway,US,4796807885357879
1,Michael Williams,M,brettkennedy@yahoo.com,1977-03-01,Gates-North Gates,US,4529266636192966
2,Jessica Krueger,F,marthacruz@hotmail.com,1947-09-10,Greenfield,US,4922690008243953
3,Ruth Harris,F,james11@yahoo.com,1983-12-27,New City,US,4897369589533543
4,Paul Ashley,M,matthew97@hotmail.com,1974-11-10,Peabody,US,4848518335893425

#### Generate Time Series

In [14]:
def generate_timestamps(n: int) -> list:
    start = datetime.datetime.strptime(START_DATE, DATE_FORMAT)
    end = datetime.datetime.strptime(END_DATE, DATE_FORMAT)
    timestamps = list()
    for _ in range(n):
        timestamp = faker.date_time_between(start_date=start, end_date=end, tzinfo=None).strftime(DATE_FORMAT)
        timestamps.append(timestamp)
    timestamps = sorted(timestamps)
    return timestamps

In [15]:
timestamps = generate_timestamps(TOTAL_UNIQUE_TRANSACTIONS)

In [16]:
assert len(timestamps) == TOTAL_UNIQUE_TRANSACTIONS

In [17]:
# inspect random sample of timestamps
random.sample(timestamps, 5)

['2022-02-27 13:51:28',
 '2022-01-22 12:22:21',
 '2022-01-27 11:25:06',
 '2022-01-14 22:11:46',
 '2022-01-20 11:40:26']

#### Generate Random Transaction Amounts 
<p>The transaction amounts are presumed to follow Pareto distribution, as it is logical for consumers to make many more smaller purchases than large ones. The break down of the distribution is shown in the table below.</p>


| Percentage        | Range (Amount in $)     |
| :-------------: | :----------: |
|  5\% | 0.01 to 1    |
| 7.5\%   | 1 to 10 |
| 52.5\%   | 10 to 100 |
| 25\%   | 100 to 1000 |
| 10\%   | 1000 to 10000 |

In [18]:
def get_random_transaction_amount(start: float, end: float) -> float:
    amt = round(np.random.uniform(start, end), 2)
    return amt

In [19]:
amounts = []
for percentage, span in AMOUNT_DISTRIBUTION_PERCENTAGES.items():
    n = int(TOTAL_UNIQUE_TRANSACTIONS * percentage)
    start, end = span
    for _ in range(n):
        amounts.append(get_random_transaction_amount(start, end+1))

categories = []        
for category, category_perc_price in CATEGORY_PERC_PRICE.items():
    percentage, min_price, max_price = category_perc_price
    n = int(TOTAL_UNIQUE_TRANSACTIONS * percentage)
    for _ in range(n):
        min_price_i = bisect.bisect_left(amounts, min_price)
        max_price_i = bisect.bisect_right(amounts, max_price, lo=min_price_i)
        categories.append({"category":category, "amount":random.choice(amounts[min_price_i:max_price_i])})
        
random.shuffle(categories)

In [20]:
len(categories)

54000

In [21]:
len(amounts)

54000

In [22]:
# inspect random sample of transaction amounts
random.sample(categories, 5)

[{'category': 'Grocery', 'amount': 16.4},
 {'category': 'Grocery', 'amount': 43.19},
 {'category': 'Grocery', 'amount': 37.13},
 {'category': 'Grocery', 'amount': 0.82},
 {'category': 'Grocery', 'amount': 80.37}]

#### Generate Credit Card Transactions
<br>
<div style="text-align: justify">
Using the random credit card numbers, timestamps and transaction amounts generated in the above steps, 
we can generate random credit card transactions by combining them. The transaction id for the transaction is the md5
hash of the above mentioned entities.
</div>

In [23]:
def generate_transaction_id(timestamp: str, credit_card_number: str, transaction_amount: float) -> str:
    hashable = f'{timestamp}{credit_card_number}{transaction_amount}'
    hexdigest = hashlib.md5(hashable.encode('utf-8')).hexdigest()
    return hexdigest

In [24]:
transactions = []
for timestamp, category in zip(timestamps, categories):
    credit_card_number = random.choice(credit_card_numbers)
    point_of_tr = faker.local_latlng(country_code = 'US')
    transaction_id = generate_transaction_id(timestamp, credit_card_number, category['amount'])
    transactions.append({
                         'tid': transaction_id, 
                         'datetime': timestamp, 
                         'cc_num': credit_card_number, 
                         'category': category['category'], 
                         'amount': category['amount'],
                         'latitude': point_of_tr[0], 
                         'longitude': point_of_tr[1],
                         'city': point_of_tr[2],
                         'country': point_of_tr[3],
                         'fraud_label': 0
                        }
                       )

In [25]:
# inspect random sample of credit card transactions
random.sample(transactions, 1)

[{'tid': '99883edc4d8aaa94b94b159865829379',
  'datetime': '2022-01-29 02:38:15',
  'cc_num': '4929411498746287',
  'category': 'Restaurant/Cafeteria',
  'amount': 53.95,
  'latitude': '44.99012',
  'longitude': '-123.02621',
  'city': 'Keizer',
  'country': 'US',
  'fraud_label': 0}]

#### Create Transaction Chains

In [26]:
visited = set()
chains = defaultdict(list)

In [27]:
def size(chains: dict) -> int:
    counts = {key: len(values)+1 for (key, values) in chains.items()}
    return sum(counts.values())

In [28]:
def create_attack_chain(i: int):
    chain_length = random.choice(ATTACK_CHAIN_LENGTHS)
    for j in range(1, chain_length):
        if i+j not in visited:
            if size(chains) == NUMBER_OF_FRAUDULENT_TRANSACTIONS:
                break
            chains[i].append(i+j)
            visited.add(i+j)

In [29]:
while size(chains) < NUMBER_OF_FRAUDULENT_TRANSACTIONS:
    i = random.choice(range(TOTAL_UNIQUE_TRANSACTIONS))
    if i not in visited:
        create_attack_chain(i)
        visited.add(i)

## Create ATM cash withdrawal

In [30]:
cash_amounts = []
for percentage, span in AMOUNT_DISTRIBUTION_PERCENTAGES.items():
    n = int(TOTAL_UNIQUE_CASH_WITHDRAWALS * percentage)
    start, end = span
    for _ in range(n):
        cash_amounts.append(get_random_transaction_amount(start, end+1))

In [31]:
len(cash_amounts)

12000

In [32]:
def generate_atm_withdrawal(credit_card_number: str, cash_amounts: list, length: int, delta: int, radius: float = None, country_code = 'US') -> List[Dict]:
    atms = [] 
    start = datetime.datetime.strptime(START_DATE, DATE_FORMAT)
    end = datetime.datetime.strptime(END_DATE, DATE_FORMAT)
    timestamp = faker.date_time_between(start_date=start, end_date=end, tzinfo=None)
    point_of_tr = faker.local_latlng(country_code = country_code)
    latitude = point_of_tr[0] 
    longitude = point_of_tr[1]
    city = point_of_tr[2]
    for _ in range(length):
        current = timestamp + datetime.timedelta(hours=delta)
        if radius is not None:
            latitude = faker.coordinate(latitude, radius) 
            longitude = faker.coordinate(longitude, radius)  
        transaction_id = generate_transaction_id(timestamp, credit_card_number, category['amount'])
        atms.append({'tid': transaction_id, 
                     'datetime': current.strftime(DATE_FORMAT), 
                     'cc_num': credit_card_number, 
                     'category': 'Cash Withdrawal', 
                     'amount': random.sample(cash_amounts, 1)[0],
                     'latitude': latitude, 
                     'longitude': longitude,
                     'city': city,
                     'country': 'US',
                     'fraud_label': 0
                     })
        timestamp = current
    return atms

In [33]:
SUSCEPTIBLE_CARDS_DISTRIBUTION_BY_AGE = {
                                   0.055: (17, 24), 
                                   0.0015: (24, 34),
                                   0.0015: (34, 44),
                                   0.02: (44, 54),
                                   0.022: (54, 64),
                                   0.1: (64, 74),
                                   0.40: (74, 84),
                                   0.40: (84, 100),
                                  }
susseptible_cards = []
visited = []
for percentage, span in SUSCEPTIBLE_CARDS_DISTRIBUTION_BY_AGE.items():
    n = int(TOTAL_UNIQUE_CASH_WITHDRAWALS * percentage) ## TODO: here total expected fraud 
    start, end = span
    for _ in range(n):
        for card in credit_cards:
            if card['age'] > start and card['age'] < end:
                if card['cc_num'] not in visited:
                    current = card
                    visited.append(card['cc_num'])
                    break
                else:
                    current = None                    
        if current is not None:
            susseptible_cards.append(current)

In [34]:
normal_atm_withdrawals = []
atm_transactions = len(cash_amounts)
cash_withdrawal_cards = random.sample(susseptible_cards, CASH_WITHRAWAL_CARDS_TOTAL//(CASH_WITHRAWAL_CARDS_TOTAL//len(susseptible_cards)+1))
atm_count = 0
while atm_count < atm_transactions:
    for card in cash_withdrawal_cards:
        for ATM_WITHRAWAL_SEQ in ATM_WITHRAWAL_SEQ_LENGTH: 
            # interval in hours between normal cash withdrawals
            delta = random.randint(6, 168)
            atm_tr = generate_atm_withdrawal(credit_card_number = card['cc_num'], cash_amounts = cash_amounts, length=ATM_WITHRAWAL_SEQ, delta=delta, radius = NORMAL_ATM_RADIUS)         
            normal_atm_withdrawals.append(atm_tr)
            atm_count += ATM_WITHRAWAL_SEQ

In [35]:
len(normal_atm_withdrawals)

8000

#### Modify Transactions with Fraud Chain Attacks

In [36]:
def generate_timestamps_for_fraud_attacks(timestamp: str, chain_length: int) -> list:
    timestamps = []
    timestamp = datetime.datetime.strptime(timestamp, DATE_FORMAT)
    for _ in range(chain_length):
        # interval in seconds between fraudulent attacks
        delta = random.randint(30, 120)
        current = timestamp + datetime.timedelta(seconds=delta)
        timestamps.append(current.strftime(DATE_FORMAT))
        timestamp = current
    return timestamps

In [37]:
def generate_amounts_for_fraud_attacks(chain_length: int) -> list:
    amounts = []
    for percentage, span in AMOUNT_DISTRIBUTION_PERCENTAGES.items():
        n = math.ceil(chain_length * percentage)
        start, end = span
        for _ in range(n):
            amounts.append(get_random_transaction_amount(start, end+1))
    return amounts[:chain_length]

In [38]:
for key, chain in chains.items():
    transaction = transactions[key]
    timestamp = transaction['datetime']
    cc_num = transaction['cc_num']
    amount = transaction['amount']
    transaction['fraud_label'] = 1
    inject_timestamps = generate_timestamps_for_fraud_attacks(timestamp, len(chain))
    inject_amounts = generate_amounts_for_fraud_attacks(len(chain))
    random.shuffle(inject_amounts)
    for i, idx in enumerate(chain):
        original_transaction = transactions[idx]
        inject_timestamp = inject_timestamps[i]
        original_transaction['datetime'] = inject_timestamp
        original_transaction['fraud_label'] = 1
        original_transaction['cc_num'] = cc_num
        original_transaction['amount'] = inject_amounts[i]
        original_transaction['category'] = [category for category, category_perc_price in CATEGORY_PERC_PRICE.items() if int(inject_amounts[i]) in range(int(category_perc_price[1]), int(category_perc_price[2]))][0]
        original_transaction['tid'] = generate_transaction_id(inject_timestamp, cc_num, amount)
        transactions[idx] = original_transaction

#### Modify ATM normal cash withdrawals with fraudulent ones

In [39]:
fraudulent_atm_tr_indxs = random.sample([i for i in range(0, len(normal_atm_withdrawals))], int(FRAUD_RATIO * len(normal_atm_withdrawals)))

In [40]:
normal_atm_withdrawals[0]

[{'tid': 'ba3dc86c26230994301510dd4241e1bf',
  'datetime': '2022-02-26 05:14:58',
  'cc_num': '4978837587432787',
  'category': 'Cash Withdrawal',
  'amount': 66.79,
  'latitude': Decimal('27.107439'),
  'longitude': Decimal('-82.462260'),
  'city': 'Venice',
  'country': 'US',
  'fraud_label': 0},
 {'tid': '453c7ea434a3cbfeef5891a0eea429b8',
  'datetime': '2022-03-04 17:14:58',
  'cc_num': '4978837587432787',
  'category': 'Cash Withdrawal',
  'amount': 895.29,
  'latitude': Decimal('27.105581'),
  'longitude': Decimal('-82.454755'),
  'city': 'Venice',
  'country': 'US',
  'fraud_label': 0},
 {'tid': 'eaef30560442f424d97dee84a65f820a',
  'datetime': '2022-03-11 05:14:58',
  'cc_num': '4978837587432787',
  'category': 'Cash Withdrawal',
  'amount': 3779.88,
  'latitude': Decimal('27.102719'),
  'longitude': Decimal('-82.448723'),
  'city': 'Venice',
  'country': 'US',
  'fraud_label': 0}]

In [41]:
for fraudulent_atm_tr_indx in fraudulent_atm_tr_indxs:
    # interval in seconds between fraudulent attacks
    delta = random.randint(1, 5)
    atm_withdrawal = normal_atm_withdrawals[fraudulent_atm_tr_indx]
    pre_fraudulent_atm_tr = atm_withdrawal[0]
    fraudulent_atm_tr = generate_atm_withdrawal(credit_card_number = pre_fraudulent_atm_tr['cc_num'], cash_amounts = cash_amounts, length=1, delta=delta, radius = None)[0]
    fraudulent_atm_location = faker.location_on_land()
    while fraudulent_atm_location[3] == 'US':
        fraudulent_atm_location = faker.location_on_land()
    fraudulent_atm_tr['datetime'] = (datetime.datetime.strptime(pre_fraudulent_atm_tr['datetime'], DATE_FORMAT) + datetime.timedelta(hours=delta)).strftime(DATE_FORMAT)
    fraudulent_atm_tr['latitude'] = fraudulent_atm_location[0]
    fraudulent_atm_tr['longitude'] = fraudulent_atm_location[1]
    fraudulent_atm_tr['city'] = fraudulent_atm_location[2]
    fraudulent_atm_tr['country'] = fraudulent_atm_location[3]  
    fraudulent_atm_tr['fraud_label'] = 1 
    atm_withdrawal.append(fraudulent_atm_tr)
    normal_atm_withdrawals[fraudulent_atm_tr_indx] = atm_withdrawal

In [42]:
for atm_withdrawal in normal_atm_withdrawals:
    for withdrawal in atm_withdrawal:
        transactions.append(withdrawal)

In [43]:
transactions_pdf = pd.DataFrame.from_records(transactions)
transactions_pdf.head()

,tid,datetime,cc_num,category,amount,latitude,longitude,city,country,fraud_label
0,11df919988c134d97bbff2678eb68e22,2022-01-01 00:00:24,4473593503484549,Health/Beauty,62.95,42.30865,-83.48216,Canton,US,0
1,dd0b2d6d4266ccd3bf05bc2ea91cf180,2022-01-01 00:00:56,4272465718946864,Grocery,85.45,33.52253,-117.70755,Laguna Niguel,US,0
2,e627f5d9a9739833bd52d2da51761fc3,2022-01-01 00:02:32,4104216579248948,Domestic Transport,21.63,37.60876,-77.37331,Mechanicsville,US,0
3,6fb3e6beafbb92b8e15827037f603c52,2022-01-01 00:03:24,4814447237003448,Health/Beauty,54.71,43.54072,-116.56346,Nampa,US,0
4,be0b8acc57bfe126a5a392fd99e6ddd1,2022-01-01 00:03:55,4515188652242507,Grocery,59.22,40.24537,-75.64963,Pottstown,US,0

In [45]:
import pandas as pd
from hops import hdfs
from hops import pandas_helper as pandas
                                            
#pandas.write_csv("/Projects/{}/Jupyter/hopsworks-tutorials/data/transactions.csv", transactions_pdf, index=False)
#pandas.write_csv("/Projects/{}/Jupyter/hopsworks-tutorials/data/profiles.csv", profiles_pdf, index=False)
#pandas.write_csv("/Projects/{}/Jupyter/hopsworks-tutorials/data/credit_cards.csv", credit_cards_pdf, index=False)

pandas.write_csv(hdfs.project_path() + "/Resources/transactions.csv", transactions_pdf, index=False)
pandas.write_csv(hdfs.project_path() + "/Resources/profiles.csv", profiles_pdf, index=False)
pandas.write_csv(hdfs.project_path() + "/Resources/credit_cards.csv", credit_cards_pdf, index=False)

### Produce transactions

In [131]:
from hops import kafka
from hops import tls
from hops import hdfs
import json
from confluent_kafka import Producer

In [132]:
# change this according to your settings
KAFKA_BROKER_ADDRES = "broker.kafka.service.consul:9091"
KAFKA_TOPIC_NAME = "credit_card_transactions"

In [133]:
config = {
    "bootstrap.servers": KAFKA_BROKER_ADDRES,
    "security.protocol": kafka.get_security_protocol(),
    "ssl.ca.location": tls.get_ca_chain_location(),
    "ssl.certificate.location": tls.get_client_certificate_location(),
    "ssl.key.location": tls.get_client_key_location(),
    "group.id": "1"
}

producer = Producer(config)

In [134]:
i = 0
for transaction in transactions:
    transaction_label = {}
    _ = transaction.pop("fraud_label")
    if i % 1000 == 0:
        print(json.dumps(transaction))
    producer.produce(KAFKA_TOPIC_NAME, json.dumps(transaction))
    producer.flush()    
    i += 1

{"tid": "a323f156f0d5186cde4e73744838e24f", "datetime": "2022-01-01 00:01:51", "cc_num": "4541027012165198", "category": "Health/Beauty", "amount": 62.95, "latitude": "40.82232", "longitude": "-74.15987", "city": "Nutley", "country": "US"}

<ipython-input-134-5dc0991d36c3>:7: DeprecationWarning: PY_SSIZE_T_CLEAN will be required for '#' formats
  producer.produce(KAFKA_TOPIC_NAME, json.dumps(transaction))

{"tid": "20bee5f14bc668ebba01913df1c831a4", "datetime": "2022-01-02 02:02:55", "cc_num": "4596835510263123", "category": "Health/Beauty", "amount": 90.86, "latitude": "40.65995", "longitude": "-111.99633", "city": "Kearns", "country": "US"}
{"tid": "ff716695ece4ed4ef0997d60e65af82c", "datetime": "2022-01-03 03:37:39", "cc_num": "4564162231458983", "category": "Health/Beauty", "amount": 17.25, "latitude": "30.5427", "longitude": "-97.54667", "city": "Hutto", "country": "US"}
{"tid": "d661edbc17e8c498fc3f73228f85b6aa", "datetime": "2022-01-04 05:30:32", "cc_num": "4238853522135258", "category": "Electronics", "amount": 620.79, "latitude": "39.32011", "longitude": "-76.51552", "city": "Rosedale", "country": "US"}
{"tid": "b9fa056c91f35ca4976710a164fa371a", "datetime": "2022-01-05 07:54:59", "cc_num": "4337740519214735", "category": "Grocery", "amount": 89.29, "latitude": "44.73941", "longitude": "-93.12577", "city": "Rosemount", "country": "US"}
{"tid": "73d81f9ded704586ca05f4e93a5ca523", "datetime": "2022-01-06 10:36:06", "cc_num": "4036390922086165", "category": "Domestic Transport", "amount": 54.25, "latitude": "41.16704", "longitude": "-73.20483", "city": "Bridgeport", "country": "US"}
{"tid": "5fae9aad429224b67295db0d3f7bdd23", "datetime": "2022-01-07 11:33:21", "cc_num": "4762188703287006", "category": "Grocery", "amount": 93.67, "latitude": "34.14251", "longitude": "-118.25508", "city": "Glendale", "country": "US"}
{"tid": "334b20ae5f7e1f4179ef119c072dcfee", "datetime": "2022-01-08 14:14:37", "cc_num": "4386831407989460", "category": "Electronics", "amount": 7719.49, "latitude": "40.24537", "longitude": "-75.64963", "city": "Pottstown", "country": "US"}
{"tid": "1394d2a3bd883c3dc6e716edf8f42c67", "datetime": "2022-01-09 16:13:12", "cc_num": "4499000229108105", "category": "Health/Beauty", "amount": 63.77, "latitude": "32.5007", "longitude": "-94.74049", "city": "Longview", "country": "US"}
{"tid": "a880b593fb30d9c5b138a24a29e34ce7", "datetime": "2022-01-10 18:58:08", "cc_num": "4445916313182760", "category": "Health/Beauty", "amount": 462.55, "latitude": "46.09273", "longitude": "-88.64235", "city": "Iron River", "country": "US"}
{"tid": "3442b6cdae28683a73c1c1827a26c468", "datetime": "2022-01-11 20:12:38", "cc_num": "4085049862790828", "category": "Domestic Transport", "amount": 92.03, "latitude": "43.1009", "longitude": "-75.23266", "city": "Utica", "country": "US"}
{"tid": "c01ef0fca9145f1bf819faadea9c1bb6", "datetime": "2022-01-12 23:10:39", "cc_num": "4118202503389390", "category": "Electronics", "amount": 3901.53, "latitude": "43.16547", "longitude": "-77.70066", "city": "Gates-North Gates", "country": "US"}
{"tid": "48ef613155802f5c05ea1d8b1ecbf481", "datetime": "2022-01-14 02:52:13", "cc_num": "4512666926191421", "category": "Grocery", "amount": 26.75, "latitude": "41.55815", "longitude": "-73.0515", "city": "Waterbury", "country": "US"}
{"tid": "ec98feeb4ba56fbe95a5ad956f8f355a", "datetime": "2022-01-15 06:06:50", "cc_num": "4507951807712496", "category": "Restaurant/Cafeteria", "amount": 13.8, "latitude": "40.34912", "longitude": "-111.90466", "city": "Saratoga Springs", "country": "US"}
{"tid": "21299de67dc004d84a26abbee2256f94", "datetime": "2022-01-16 08:36:04", "cc_num": "4782192361332696", "category": "Grocery", "amount": 85.55, "latitude": "40.58654", "longitude": "-122.39168", "city": "Redding", "country": "US"}
{"tid": "4fbd26a55d577c9d633cfce216a9aff5", "datetime": "2022-01-17 10:56:03", "cc_num": "4698453158969022", "category": "Grocery", "amount": 5.83, "latitude": "30.17746", "longitude": "-81.38758", "city": "Palm Valley", "country": "US"}
{"tid": "90368f19bd34e2bf057319e528160309", "datetime": "2022-01-18 12:53:32", "cc_num": "4118278219116202", "category": "Grocery", "amount": 26.54, "latitude": "31.84568", "longitude": "-102.36764", "city": "Odessa", "country": "US"}
{"tid": "62c23cc166f7cb96d77195d711e8f480", "datetime": "2022-01-19 15:26:05", "cc_num": "4327090937866720", "category": "Clothing", "amount": 99.16, "latitude": "42.4251", "longitude": "-71.06616", "city": "Malden", "country": "US"}
{"tid": "02b768fa11f301a8223ef123f702d09a", "datetime": "2022-01-20 18:10:42", "cc_num": "4610739772483860", "category": "Domestic Transport", "amount": 43.84, "latitude": "39.32288", "longitude": "-76.72803", "city": "Woodlawn", "country": "US"}
{"tid": "3db46ad87aec7d4f666f100a36670481", "datetime": "2022-01-21 20:13:43", "cc_num": "4210504619231607", "category": "Grocery", "amount": 23.06, "latitude": "41.24255", "longitude": "-82.61573", "city": "Norwalk", "country": "US"}
{"tid": "a7bdf0835b72c6a62cd79d8e544f22ff", "datetime": "2022-01-22 21:35:21", "cc_num": "4615942299904229", "category": "Clothing", "amount": 181.98, "latitude": "42.52787", "longitude": "-70.92866", "city": "Peabody", "country": "US"}
{"tid": "52c035055147605252ebd16e1049204d", "datetime": "2022-01-23 23:14:39", "cc_num": "4773430973341486", "category": "Health/Beauty", "amount": 100.55, "latitude": "40.64621", "longitude": "-73.97069", "city": "Kensington", "country": "US"}
{"tid": "8094f0f9460651766131aa2eec227126", "datetime": "2022-01-25 01:18:14", "cc_num": "4991299196397278", "category": "Sports/Outdoors", "amount": 47.7, "latitude": "34.06635", "longitude": "-84.67837", "city": "Acworth", "country": "US"}
{"tid": "9632162ff23c0a602792646914fb69d6", "datetime": "2022-01-26 04:52:05", "cc_num": "4709001521516926", "category": "Grocery", "amount": 21.96, "latitude": "30.17746", "longitude": "-81.38758", "city": "Palm Valley", "country": "US"}
{"tid": "3612f619b0b271a51692e6da77ae8ca5", "datetime": "2022-01-27 06:40:25", "cc_num": "4400109238089798", "category": "Clothing", "amount": 83.14, "latitude": "32.42067", "longitude": "-104.22884", "city": "Carlsbad", "country": "US"}
{"tid": "5b1082eaa6328b2eb535880e39b6945b", "datetime": "2022-01-28 09:26:45", "cc_num": "4865378406380150", "category": "Grocery", "amount": 75.15, "latitude": "34.95303", "longitude": "-120.43572", "city": "Santa Maria", "country": "US"}
{"tid": "81355283ee1d8804eb7bb56ea2170448", "datetime": "2022-01-29 10:52:13", "cc_num": "4424789605603669", "category": "Grocery", "amount": 60.02, "latitude": "42.4251", "longitude": "-71.06616", "city": "Malden", "country": "US"}
{"tid": "ccfe7459bbd3efd17cef9c10a0216890", "datetime": "2022-01-30 12:30:39", "cc_num": "4231173606661542", "category": "Health/Beauty", "amount": 100.49, "latitude": "26.91756", "longitude": "-82.07842", "city": "Punta Gorda Isles", "country": "US"}
{"tid": "23f63119f20165d4e19ea071f8f70eeb", "datetime": "2022-01-31 16:16:23", "cc_num": "4593595867961777", "category": "Electronics", "amount": 376.46, "latitude": "47.64995", "longitude": "-117.23991", "city": "Opportunity", "country": "US"}
{"tid": "a5a999c2e48fb1bcaa029e45609d43cd", "datetime": "2022-02-01 16:38:19", "cc_num": "4156977301337039", "category": "Grocery", "amount": 44.21, "latitude": "30.17746", "longitude": "-81.38758", "city": "Palm Valley", "country": "US"}
{"tid": "5ca4a0a814a70eb739a8b7687e38e2f5", "datetime": "2022-02-02 19:42:15", "cc_num": "4110656522094588", "category": "Health/Beauty", "amount": 16.59, "latitude": "34.09611", "longitude": "-118.10583", "city": "San Gabriel", "country": "US"}
{"tid": "2f9702b5ccf4343a11b5ecc7773d4b96", "datetime": "2022-02-03 22:12:31", "cc_num": "4361381888504817", "category": "Domestic Transport", "amount": 10.26, "latitude": "33.08014", "longitude": "-83.2321", "city": "Milledgeville", "country": "US"}
{"tid": "d4e1cad23168e90c71167bde5bfed445", "datetime": "2022-02-05 00:42:24", "cc_num": "4075453714532051", "category": "Domestic Transport", "amount": 59.52, "latitude": "40.57788", "longitude": "-73.95958", "city": "Brighton Beach", "country": "US"}
{"tid": "93572eb7131d5a541e2f39a528b27f28", "datetime": "2022-02-06 03:27:14", "cc_num": "4943813567177181", "category": "Grocery", "amount": 11.32, "latitude": "41.15376", "longitude": "-87.88754", "city": "Bourbonnais", "country": "US"}
{"tid": "20271f2a9e3d957c0c062a8449740432", "datetime": "2022-02-07 05:41:51", "cc_num": "4400387596625607", "category": "Grocery", "amount": 78.55, "latitude": "35.74788", "longitude": "-95.36969", "city": "Muskogee", "country": "US"}
{"tid": "34cd04c10a4841bfaeda8b9868a03e4b", "datetime": "2022-02-08 06:43:19", "cc_num": "4277223441510571", "category": "Grocery", "amount": 72.07, "latitude": "40.65538", "longitude": "-74.38987", "city": "Scotch Plains", "country": "US"}
{"tid": "5e8ef3509eaae7fdb6f92a81542b8104", "datetime": "2022-02-09 09:33:53", "cc_num": "4217794863222880", "category": "Grocery", "amount": 51.73, "latitude": "30.17746", "longitude": "-81.38758", "city": "Palm Valley", "country": "US"}
{"tid": "cb8a4c4406f7af5eb2113b1631d2172a", "datetime": "2022-02-10 10:56:01", "cc_num": "4972349737471042", "category": "Grocery", "amount": 83.07, "latitude": "33.45122", "longitude": "-86.99666", "city": "Hueytown", "country": "US"}
{"tid": "50181f93bdecaacf858629a076b6fefe", "datetime": "2022-02-11 12:44:19", "cc_num": "4678548979434892", "category": "Health/Beauty", "amount": 65.95, "latitude": "41.6764", "longitude": "-91.58045", "city": "Coralville", "country": "US"}
{"tid": "1cea9c411ac82455f155abde5915f1b3", "datetime": "2022-02-12 14:52:21", "cc_num": "4558136484428289", "category": "Restaurant/Cafeteria", "amount": 4.2, "latitude": "42.97086", "longitude": "-82.42491", "city": "Port Huron", "country": "US"}
{"tid": "8b496bf01dd11bb6c0e54d2ca7626440", "datetime": "2022-02-13 16:31:34", "cc_num": "4541027012165198", "category": "Electronics", "amount": 276.14, "latitude": "39.43534", "longitude": "-84.20299", "city": "Lebanon", "country": "US"}
{"tid": "48cdc92860f072b0d7a7548a5a1e3852", "datetime": "2022-02-14 17:36:07", "cc_num": "4408213386133549", "category": "Health/Beauty", "amount": 41.28, "latitude": "39.57582", "longitude": "-105.11221", "city": "Ken Caryl", "country": "US"}

KeyboardInterrupt:

In [ ]:
transactions[1]